.container {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: [header] 75px [main] auto;
}

header {
    grid-row: header;
    background-color: #e95d51;
    box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.3);
    color:white;    
}

section {
    grid-row: main;
    padding: 12px;
}