.container {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: [header] 75px [main] auto;
}

header {
    grid-row: header;
    background-color: rgb(228, 165, 135);
}

section {
    grid-row: main;
    justify-self: center;
}