.ticket-stack {
    display: flex;
    flex-direction: column;
    width: 400px;
    list-style: none;
    border-radius: 4px;
    box-shadow: 0 2px 6px hsla(0, 0%, 0%, 0.2);
    background-color: white;
    overflow: hidden;
    min-height: 300px;
    width: 600px;
    border-top: 6px solid tomato;
}

.ticket-stack > header {
    padding: 12px 20px;
}

.ticket-stack > header > .bar {
    height: 6px;
    content: ' ';
    background-color: tomato;
}

.ticket-stack > section {
    flex-grow: 1;
}

.ticket-stack > footer {
    padding: 12px 20px;
    background-color: hsl(24, 6%, 82%);
}